
.listado {
  background-color: #ea2828;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2e8e8;
}

.detail {
  background-color: #f4f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

