body {
  font-family:'Times New Roman', Times, serif;
  background-color: #a9ab27;
  background-color: #cf550a;
  padding: 10px;

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: #d6651f;
  border-radius: 5em ;
  box-shadow: 0 0 5px rgba(2, 3, 26, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 60px;
  background-color: #4eac4e;
  margin-bottom: 20px;
  text-align: center;
   
}

.container p {
  font-size: 30px;
  font-family:cursive;
  background-color:brown;
  margin-bottom: 20px;
  text-align: center;
}

.container .content {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  
}

.container .content .section {
  margin-bottom: 30px;
  text-rendering: auto;
}

.container .content .section h2 {
  font-size: 30px;
  background-color: aqua;
  margin-bottom: 10px;
}

.container .content .section p {
  font-size: 50px;
  background-color: aqua;

}


h1 {
  text-align: center;
  font-size: 70px;
  color: #3e15b0;
  margin-bottom: 20px;
}

.listado-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .listado-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .listado-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listado-items > div {
  background-color: #eaa510;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(63, 121, 75, 0.2);
  text-align: center;
}

.listado-items h3 {
  font-size: 50px;
  margin-bottom: 10px;
  background-color: #9ed70f;
  padding: auto;
  text-align: center;
}

.listado-items p {
  color: #05030c;
}

.listado-items button {
  background-color: #4914e8;
  margin-bottom: 20px 0;
  padding: 20px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(238, 70, 70, 0.2);
  text-align: center;
  
}
